#off-sound-contact-form-container {
    padding: 3%;
}

#off-sound-contact-form-header {
    font-size: 48px;
    font-weight: 700 !important;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

#off-sound-contact-form-subheader {
    font-size: 20px;
    font-weight: 500 !important;
    text-align: center;
    margin-bottom: 3%;
    font-family: "Poppins", sans-serif;
}

#off-sound-form-field-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    column-gap: 20px;
    row-gap: 30px;
    width: 50%;
    margin: 0 25%;
}

#off-sound-name-input,
#off-sound-email-input {
    width: 80%;
    margin: 0 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}

#off-sound-phone-input,
#off-sound-message-input {
    width: 80%;
    margin: 0 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
}

#off-sound-message-input {
    height: 100px;
    resize: none;
}

#off-sound-submit-btn {
    width: 7%;
    margin: 2% 46.5%;
    padding: 10px;
    background-color: #1e3170;
    color: white;
    border: solid 1px #1e3170;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#off-sound-submit-btn:hover {
    background-color: transparent;
    color: #1e3170;
}

#off-sound-thank-you-container {
    padding: 15%;
    width: 50%;
    margin: 0 25%;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

@media (max-width: 1699px) and (min-width: 1200px) {
    #off-sound-form-field-container {
        width: 60%;
        margin: 0 20%;
    }

    #off-sound-submit-btn {
        width: 10%;
        margin: 2% 45%;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #off-sound-contact-form-container {
        padding: 10%;
    }

    #off-sound-form-field-container {
        width: 70%;
        margin: 0 15%;
    }

    #off-sound-submit-btn {
        width: 15%;
        margin: 2% 42.5%;
    }
}

@media (max-width: 991px) and (min-width: 801px) {
    #off-sound-contact-form-container {
        padding: 10%;
    }

    #off-sound-form-field-container {
        width: 80%;
        margin: 0 10%;
    }

    #off-sound-submit-btn {
        width: 17%;
        margin: 2% 41.5%;
    }
}

@media (max-width: 800px) {
    #off-sound-contact-form-container {
        padding: 10%;
    }

    #off-sound-form-field-container {
        width: 90%;
        margin: 0 5%;
    }

    #off-sound-submit-btn {
        width: 20%;
        margin: 5% 40%;
    }
}

@media (max-width: 600px) {
    #off-sound-contact-form-container {
        padding: 10% 3%;
    }

    #off-sound-form-field-container {
        width: 100%;
        margin: 0;
    }

    #off-sound-submit-btn {
        width: 25%;
        margin: 5% 37.5%;
    }
}

@media (max-width: 400px) {
    #off-sound-contact-form-header {
        font-size: 36px;
    }

    #off-sound-contact-form-subheader {
        font-size: 16px;
    }

    #off-sound-submit-btn {
        width: 30%;
        margin: 5% 35%;
    }
}