#off-sound-container {
    padding: 3%;
}

#off-sound-header {
    color: #1e3170;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    font-family: "Poppins"!important;
}

#off-sound-subheader {
    color: #1e3170;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3%;
    font-family: "Poppins"!important;
}

#off-sound-home-collection {
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 1808px) and (min-width: 1200px) {
    #off-sound-home-collection {
        width: 80%;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #off-sound-home-collection {
        width: 90%;
    }
}
@media (max-width: 991px) and (min-width: 801px) {
    #off-sound-home-collection {
        width: 90%;
    }
}
@media (max-width: 800px) {
    #off-sound-home-collection {
        width: 100%;
    }
}