#awhv-jackets-container {
    width: 60%;
    margin: 0 auto;
    padding: 4%;
}

#awhv-jackets-header {
    margin-bottom: 5%;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-align: center;
}