#off-sound-navbar {
    width: 30%;
    margin: 0 auto;
}

.ui.secondary.menu a.item:hover {
    background: none !important;
}

.item.off-sound-header-nav-item {
    color: #000;
    font-size: 24px!important;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

@media (max-width: 2053px) and (min-width: 1700px) {
    #off-sound-navbar {
        width: 40%;
        margin: 0 auto;
    }
}

@media (max-width: 1699px) and (min-width: 1200px) {
    #off-sound-navbar {
        width: 60%;
        margin: 0 auto;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #off-sound-navbar {
        width: 70%;
        margin: 0 auto;
    }
}