#zcomm-about-mission-container {
    width: 30%;
    margin: 0 35%;
    padding: 4%;
}

#zcomm-about-mission-header {
    text-align: center;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: #f7931e;
    margin-bottom: 10%;
}

#zcomm-about-mission-subheader {
    text-align: center;
    font-family: "Montserrat", sans-serif;
}