#zcomm-terms-container {
    padding: 3%;
}

#zcomm-terms {
    width: 50%;
    margin: 0 auto;
}

#zcomm-terms-main-header {
    font-size: 48px;
    font-weight: 700!important;
    text-align: center;
    font-family: "Montserrat", sans-serif!important;
}

#zcomm-terms-main-subheader, #zcomm-terms-effect-date {
    font-size: 20px;
    font-weight: 300!important;
    text-align: center;
    margin-bottom: 3%;
    font-family: "Montserrat", sans-serif!important;
}

.zcomm-terms-section {
    margin-bottom: 5%!important;
}

.zcomm-terms-divider {
    background-color: #ccc;
    margin: 0 auto 5%!important;
}

.zcomm-terms-header {
    font-size: 36px!important;
    font-weight: 700!important;
    font-family: "Montserrat", sans-serif!important;
}

.zcomm-terms-subheader {
    width: 80%!important;
    margin: 0 auto 2%!important;
    font-size: 24px!important;
    font-weight: 600!important;
    font-family: "Montserrat", sans-serif!important;
}

.zcomm-terms-text {
    font-size: 20px;
    font-weight: 300!important;
    font-family: "Montserrat", sans-serif!important;
    margin-bottom: 20px;
}

.zcomm-terms-list {
    width: 70%!important;
    margin: 0 auto 5%!important;
    padding: 0!important;
    font-size: 20px!important;
}

strong {
    font-weight: 700!important;
}

@media (max-width: 2053px) and (min-width: 1700px) {
    #zcomm-terms {
        width: 60%;
    }
}

@media (max-width: 1699px) and (min-width: 1200px) {
    #zcomm-terms {
        width: 70%;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #zcomm-terms {
        width: 80%;
    }

    #zcomm-terms-main-header {
        font-size: 42px !important;
    }

    #zcomm-terms-main-subheader,
    #zcomm-terms-effect-date {
        font-size: 18px !important;
    }

    .zcomm-terms-header {
        font-size: 32px !important;
    }

    .zcomm-terms-subheader {
        width: 85% !important;
        font-size: 22px !important;
    }

    .zcomm-terms-text {
        font-size: 18px !important;
    }

    .zcomm-terms-list {
        width: 75% !important;
        font-size: 18px !important;
    }

    .zcomm-terms-list li {
        margin-bottom: 10px !important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #zcomm-terms {
        width: 90%;
    }

    #zcomm-terms-main-header {
        font-size: 40px !important;
    }

    #zcomm-terms-main-subheader,
    #zcomm-terms-effect-date {
        font-size: 16px !important;
    }

    .zcomm-terms-header {
        font-size: 30px !important;
    }

    .zcomm-terms-subheader {
        width: 90% !important;
        font-size: 20px !important;
    }

    .zcomm-terms-text {
        font-size: 18px !important;
    }

    .zcomm-terms-list {
        width: 60% !important;
        font-size: 18px !important;
    }

    .zcomm-terms-list li {
        margin-bottom: 10px !important;
    }

    .zcomm-terms-divider {
        margin: 10% auto !important;
    }
}

@media (max-width: 767px) {
    #zcomm-terms-container {
        padding: 5%;
    }

    #zcomm-terms {
        width: 100%;
    }

    #zcomm-terms-main-header {
        font-size: 36px !important;
    }

    #zcomm-terms-main-subheader,
    #zcomm-terms-effect-date {
        font-size: 16px !important;
    }

    .zcomm-terms-header {
        font-size: 24px !important;
    }

    .zcomm-terms-subheader {
        width: 90% !important;
        font-size: 18px !important;
    }

    .zcomm-terms-text {
        font-size: 16px !important;
    }

    .zcomm-terms-list {
        width: 60% !important;
        font-size: 16px !important;
    }

    .zcomm-terms-list li {
        margin-bottom: 8px !important;
    }
}