#zcomm-home-services-container {
    padding: 4%;
}

#zcomm-home-services-header {
    text-align: center;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: #f7931e;
    margin-bottom: 5%;
}

#zcomm-home-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.zcomm-home-service-card {
    border: solid 1px #cccccc;
    background-color: #f5f5f5;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    height: 550px;
}

.zcomm-home-service-card:hover {
    transform: scale(1.05);
}

@media (max-width: 2053px) and (min-width: 1700px) {
    .zcomm-home-service-card {
        height: 480px;
    }
}

@media (max-width: 1699px) and (min-width: 1200px) {
    #zcomm-home-services {
        grid-template-columns: repeat(3, 1fr);
    }

    .zcomm-home-service-card {
        height: 400px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #zcomm-home-services {
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
    }

    .zcomm-home-service-card {
        height: 400px;
    }
}

@media (max-width: 991px) and (min-width: 801px) {
    #zcomm-home-services {
        width: 60%;
        grid-template-columns: repeat(1, 1fr);
    }

    .zcomm-home-service-card {
        height: 500px;
    }
}

@media (max-width: 800px) and (min-width: 516px) {
    #zcomm-home-services {
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
    }

    .zcomm-home-service-card {
        height: 500px;
    }
}

@media (max-width: 515px) {
    #zcomm-home-services-container {
        padding: 10%;
    }

    #zcomm-home-services {
        width: 100%;
        padding: 5%;
        grid-template-columns: repeat(1, 1fr);
    }

    .zcomm-home-service-card {
        height: 500px;
    }
}