#zcomm-about-offers-container {
    background-color: #262261;
    padding: 2%;
}

#zcomm-about-offers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 60%;
    margin: 0 20%;
    column-gap: 10%;
    padding: 1% 0;
}

.zcomm-about-offer-img {
    width: 30%!important;
    margin: 0 35%!important;
}

.zcomm-about-offer-header, .zcomm-about-offer-subheader {
    color: white!important;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat", sans-serif!important;
}

/* .zcomm-about-offer-subheader {
    color: white;
    font-weight: 700;
    text-align: center;
} */