#zcomm-quote-form-container {
    padding: 3% !important;
    font-family: "Montserrat", sans-serif !important;
}

#zcomm-quote-form-header,
#zcomm-quote-form-subheader {
    text-align: center;
    font-family: "Montserrat", sans-serif !important;
}

#zcomm-quote-form-header {
    font-size: 48px;
    font-weight: 700 !important;
}

#zcomm-quote-form-subheader {
    font-size: 16px;
    font-weight: 500 !important;
}

#zcomm-quote-form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    width: 40%;
    margin: 0 auto;
}

.zcomm-quote-form-col {
    position: relative;
}

.zcomm-quote-form-col {
    grid-column: span 12;
}

.zcomm-quote-form-col:nth-child(2),
.zcomm-quote-form-col:nth-child(3),
.zcomm-quote-form-col:nth-child(4),
.zcomm-quote-form-col:nth-child(5) {
    grid-column: span 6;
}

.zcomm-quote-form-col:nth-child(7),
.zcomm-quote-form-col:nth-child(10),
.zcomm-quote-form-col:has(#zcomm-quote-order-volume),
.zcomm-quote-form-col:has(#zcomm-quote-storage),
.zcomm-quote-form-col:has(#zcomm-quote-timeline),
.zcomm-quote-form-col:has(#zcomm-quote-budget) {
    grid-column: span 4;
}

.zcomm-quote-form-title {
    font-family: "Montserrat", sans-serif !important;
    margin-top: 5% !important;
}

.zcomm-checkbox-label {
    display: flex !important;
    align-items: center;
    gap: 12px;
    width: 100% !important;
}

.zcomm-quote-form-col label {
    display: block;
    margin-bottom: 5px;
}

.zcomm-quote-form-col select {
    width: 100%;
    padding: 3%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.zcomm-quote-form-col input,
.zcomm-quote-form-col textarea,
#website {
    width: 100%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.zcomm-quote-form-col textarea {
    min-height: 100px;
    resize: none;
}

#zcomm-quote-project-details {
    min-height: 200px;
}

#zcomm-quote-submit-btn {
    width: 20%;
    margin: 2% 40%;
    padding: 10px;
    background-color: #262261;
    color: white;
    border: solid 1px #262261;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#zcomm-quote-submit-btn:hover {
    background-color: transparent;
    color: #262261;
}

@media (max-width: 1699px) and (min-width: 1200px) {
    #zcomm-quote-form {
        width: 60%;
        margin: 0 auto;
    }

    #zcomm-quote-form-header {
        font-size: 36px;
    }

    #zcomm-quote-form-subheader {
        font-size: 14px;
    }

    .zcomm-quote-form-col:nth-child(7),
    .zcomm-quote-form-col:nth-child(10),
    .zcomm-quote-form-col:has(#zcomm-quote-order-volume),
    .zcomm-quote-form-col:has(#zcomm-quote-storage),
    .zcomm-quote-form-col:has(#zcomm-quote-timeline),
    .zcomm-quote-form-col:has(#zcomm-quote-budget) {
        grid-column: span 5;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #zcomm-quote-form {
        width: 80%;
        margin: 0 auto;
    }

    #zcomm-quote-form-header {
        font-size: 32px;
    }

    #zcomm-quote-form-subheader {
        font-size: 12px;
    }

    .zcomm-quote-form-col:nth-child(7),
    .zcomm-quote-form-col:nth-child(10),
    .zcomm-quote-form-col:has(#zcomm-quote-order-volume),
    .zcomm-quote-form-col:has(#zcomm-quote-storage),
    .zcomm-quote-form-col:has(#zcomm-quote-timeline),
    .zcomm-quote-form-col:has(#zcomm-quote-budget) {
        grid-column: span 6;
    }
}

@media (max-width: 991px) and (min-width: 632px) {
    #zcomm-quote-form {
        width: 90%;
        margin: 0 auto;
    }

    #zcomm-quote-form-header {
        font-size: 28px;
    }

    #zcomm-quote-form-subheader {
        font-size: 12px;
    }

    .zcomm-quote-form-col:nth-child(7),
    .zcomm-quote-form-col:nth-child(10),
    .zcomm-quote-form-col:has(#zcomm-quote-order-volume),
    .zcomm-quote-form-col:has(#zcomm-quote-storage),
    .zcomm-quote-form-col:has(#zcomm-quote-timeline),
    .zcomm-quote-form-col:has(#zcomm-quote-budget) {
        grid-column: span 6;
    }
}

@media (max-width: 631px) {
    #zcomm-quote-form {
        width: 100%;
        margin: 0 auto;
        row-gap: 20px;
    }

    #zcomm-quote-form-header {
        font-size: 24px;
    }

    #zcomm-quote-form-subheader {
        font-size: 12px;
    }

    .zcomm-quote-form-title {
        margin-top: 10%!important;
    }

    .zcomm-quote-form-col {
        grid-column: span 12!important;
    }
}