#off-sound-footer-container {
    width: 100%;
    background-color: #1e3170;
    color: white;
    padding: 2% 0;
    text-align: center;
}

#off-sound-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 25%;
    margin: 20px auto 20px;
    padding: 0;
}

.off-sound-footer-col {
    text-align: center;
}

.off-sound-footer-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    display: block;
    margin: 10% 0;
    text-align: center;
}

.off-sound-footer-link:hover {
    color: #fff;
}

#off-sound-footer-logo {
    margin: 0 auto;
    width: 18%;
}

#off-sound-footer-copyright {
    font-size: 14px;
    margin-top: 2%;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

@media (max-width: 2053px) and (min-width: 1708px) {
    #off-sound-footer {
        width: 30%;
    }
}

@media (max-width: 1707px) and (min-width: 1281px) {
    #off-sound-footer {
        width: 40%;
    }
}

@media (max-width: 1280px) and (min-width: 992px) {
    #off-sound-footer {
        width: 55%;
    }
}

@media (max-width: 991px) and (min-width: 801px) {
    #off-sound-footer {
        width: 70%;
    }
}

@media (max-width: 800px) and (min-width: 513px) {
    #off-sound-footer {
        width: 100%;
        margin: 0 auto 20px;
    }
    #off-sound-footer-logo {
        width: 30%;
    }
}

@media (max-width: 512px) {
    #off-sound-footer {
        width: 100%;
        margin: 0 auto 20px;
    }
    .off-sound-footer-col {
        margin: 0 auto;
    }
    .off-sound-footer-link {
        font-size: 12px;
    }
    #off-sound-footer-logo {
        width: 50%;
    }
}