#off-sound-shirts-container {
    width: 60%;
    margin: 0 auto;
    padding: 3%;
}

#off-sound-shirts-header {
    color: #1e3170;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    font-family: "Poppins" !important;
    margin-bottom: 5%;
}

@media (max-width: 1808px) and (min-width: 1200px) {
    #off-sound-shirts-container {
        width: 80%;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #off-sound-shirts-container {
        width: 90%;
    }
}

@media (max-width: 991px) and (min-width: 801px) {
    #off-sound-shirts-container {
        width: 90%;
    }
}

@media (max-width: 800px) {
    #off-sound-shirts-container {
        width: 100%;
        padding: 10%;
    }

    #off-sound-shirts-header {
        font-size: 28px;
    }

    #off-sound-shirts-header {
        margin-bottom: 10%;
    }
}