#zcomm-about-banner-container {
    position: relative;
    width: 100%;
    height: 700px;
}

#zcomm-about-banner {
    object-fit: cover;
    height: 700px;
    filter: brightness(50%);
}

#zcomm-about-banner-header, #zcomm-about-banner-subheader {
    position: absolute;
    top: 35%;
    text-align: center;
    font-weight: 700;
    color: white;
    font-family: "Montserrat", sans-serif;
}

#zcomm-about-banner-header {
    font-size: 60px;
    width: 80%;
    margin: 0 10%;
}

#zcomm-about-banner-subheader {
    top: 50%;
    width: 50%;
    margin: 0 25%;
    font-size: 20px;
}