#zcomm-about-banner-container {
    position: relative;
    width: 100%;
    height: 700px;
}

#zcomm-about-banner {
    object-fit: cover;
    height: 700px;
    filter: brightness(50%);
}

#zcomm-about-banner-header, #zcomm-about-banner-subheader {
    position: absolute;
    top: 35%;
    text-align: center;
    font-weight: 700;
    color: white;
    font-family: "Montserrat", sans-serif;
}

#zcomm-about-banner-header {
    font-size: 60px;
    width: 80%;
    margin: 0 10%;
}

#zcomm-about-banner-subheader {
    top: 50%;
    width: 50%;
    margin: 0 25%;
    font-size: 20px;
}

#zcomm-about-contact-btn {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    top: 70%;
    width: 5%;
    margin: 0 47.5%;
    background-color: #f7931e;
}

@media (max-width: 2317px) and (min-width: 2054px) {
    #zcomm-about-contact-btn {
        width: 6%;
        margin: 0 47%;
    }
}

@media (max-width: 2053px) and (min-width: 1700px) {
    #zcomm-about-contact-btn {
        width: 7%;
        margin: 0 46.5%;
    }
}

@media (max-width: 1699px) and (min-width: 1200px) {
    #zcomm-about-banner-header {
        font-size: 60px;
        width: 90%;
        margin: 0 5%;
    }
    
    #zcomm-about-contact-btn {
        width: 10%;
        margin: 3% 45%;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #zcomm-about-banner-header {
        font-size: 50px;
        width: 90%;
        margin: 0 5%;
    }
    
    #zcomm-about-banner-subheader {
        top: 45%;
        width: 80%;
        margin: 2% 10%;
        font-size: 18px;
    }
    
    #zcomm-about-contact-btn {
        width: 15%;
        margin: 3% 42.5%;
    }
}

@media (max-width: 991px) and (min-width: 801px) {
    #zcomm-about-banner-header {
        font-size: 40px;
        width: 90%;
        margin: 0 5%;
    }
    
    #zcomm-about-banner-subheader {
        top: 45%;
        width: 80%;
        margin: 2% 10%;
        font-size: 16px;
    }
    
    #zcomm-about-contact-btn {
        width: 20%;
        margin: 3% 40%;
    }
}

@media (max-width: 800px) and (min-width: 560px) {
    #zcomm-about-banner-header {
        font-size: 35px;
        width: 90%;
        margin: 0 5%;
    }
    
    #zcomm-about-banner-subheader {
        top: 45%;
        width: 80%;
        margin: 2% 10%;
        font-size: 15px;
    }
    
    #zcomm-about-contact-btn {
        width: 20%;
        margin: 3% 40%;
    }
}

@media (max-width: 767px) and (min-width: 560px) {
    #zcomm-about-banner-header {
        font-size: 30px;
        width: 90%;
        margin: 0 5%;
    }
    
    #zcomm-about-banner-subheader {
        top: 45%;
        width: 80%;
        margin: 2% 10%;
        font-size: 14px;
    }
    
    #zcomm-about-contact-btn {
        width: 25%;
        margin: 3% 37.5%;
    }
}

@media (max-width: 559px) {
    #zcomm-about-banner-header {
        font-size: 24px;
        width: 100%;
        margin: 0;
    }
    
    #zcomm-about-banner-subheader {
        top: 45%;
        width: 80%;
        margin: 2% 10%;
        font-size: 12px;
    }
    
    #zcomm-about-contact-btn {
        width: 40%;
        margin: 3% 30%;
    }
}