#awhv-footer-container {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 40px 0;
    margin: 0;
    font-weight: 700;
    text-align: center;
}

#awhv-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 20%;
    margin: 20px auto;
    padding: 0;
}

.awhv-footer-col {
    text-align: center;
}

.awhv-footer-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    display: block;
    margin: 10% 0;
    text-align: center;
}

.awhv-footer-link:hover {
    color: #fff;
}

#awhv-footer-logo {
    width: 20%;
    margin: 0 auto;
    text-align: center;
}