#zcomm-faq-accordion-container {
    padding: 4%;
}

#zcomm-faq-accordion-header {
    font-size: 48px;
    font-weight: 700!important;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 3%;
}

#zcomm-faq-accordion {
    width: 40%;
    margin: 0 30%;
}

.zcomm-faq-accordion-title {
    font-size: 20px!important;
    font-weight: 700!important;
    font-family: "Montserrat", sans-serif!important;
}

.zcomm-faq-accordion-text {
    font-size: 16px!important;
    font-weight: 500!important;
    font-family: "Montserrat", sans-serif!important;
    margin-top: 10px;
    width: 90%;
    margin: 0 5%;
}

#zcomm-faq-accordion-list {
    width: 80%;
    margin: 2% 10%;
}

.zcomm-faq-accordion-list-item {
    font-weight: 500!important;
    font-family: "Montserrat", sans-serif!important;
}

@media (max-width: 2053px) and (min-width: 1700px) {
    #zcomm-faq-accordion {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 1699px) and (min-width: 1200px) {
    #zcomm-faq-accordion {
        width: 60%;
        margin: 0 auto;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #zcomm-faq-accordion {
        width: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 991px) and (min-width: 427px) {
    #zcomm-faq-accordion {
        width: 85%;
        margin: 0 auto;
    }
}

@media (max-width: 516px) {
    #zcomm-faq-accordion-header {
        font-size: 24px;
    }
}

@media (max-width: 426px) {
    #zcomm-faq-accordion {
        width: 95%;
        margin: 0 auto;
    }

    .zcomm-faq-accordion-title {
        font-size: 16px!important;
    }

    .zcomm-faq-accordion-text {
        font-size: 12px!important;
    }
}