#zcomm-home-banner-container {
    position: relative;
    width: 100%;
    height: 700px;
}

#zcomm-home-banner {
    object-fit: cover;
    height: 700px;
    filter: brightness(50%);
}

#zcomm-home-banner-header1, #zcomm-home-banner-header2 {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: white;
    font-family: "Montserrat", sans-serif;
}

#zcomm-home-banner-header2 {
    top: 50%;
    font-size: 60px;
}

@media (max-width: 1699px) and (min-width: 1200px) {
   #zcomm-home-banner-header1, #zcomm-home-banner-header2 {
       left: 40%;
       transform: translate(-50%, -50%);
   }

    #zcomm-home-banner-header2 {
         font-size: 40px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #zcomm-home-banner-header1, #zcomm-home-banner-header2 {
        left: 40%;
        transform: translate(-50%, -50%);
    }

    #zcomm-home-banner-header2 {
        font-size: 30px;
    }
}

@media (max-width: 991px) and (min-width: 685px) {
    #zcomm-home-banner-header1, #zcomm-home-banner-header2 {
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    #zcomm-home-banner-header2 {
        font-size: 32px;
        width: 60%;
    }
}

@media (max-width: 684px) {
    #zcomm-home-banner-header1, #zcomm-home-banner-header2 {
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    #zcomm-home-banner-header1 {
        width: 100%;
    }

    #zcomm-home-banner-header2 {
        font-size: 24px;
        width: 80%;
    }
}

@media (max-width: 385px) {
    #zcomm-home-banner-header2 {
        font-size: 20px;
        width: 100%;
    }
}