#zcomm-service-webdev-container {
    background-color: #262261;
}

#zcomm-service-webdev {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.zcomm-webdev-col {
    text-align: center;
    justify-self: center;
    align-self: center;
}

#zcomm-service-webdev-header {
    text-align: center;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: #f7931e;
    margin: 0 5% 5%;
    color: white;
    font-size: 40px;
}

#zcomm-service-webdev-subheader {
    width: 80%;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

@media (max-width: 1699px) and (min-width: 1200px) {
    #zcomm-service-webdev-header {
        font-size: 32px!important;
    }

    #zcomm-service-webdev-subheader {
        width: 90%;
        font-size: 18px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #zcomm-service-webdev-header {
        font-size: 28px!important;
    }

    #zcomm-service-webdev-subheader {
        width: 95%;
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    #zcomm-service-webdev {
        grid-template-columns: repeat(1, 1fr);
    }

    .zcomm-webdev-col:nth-child(2) {
        padding: 10%;
        grid-row: 2;
    }
}

@media (max-width: 800px) and (min-width: 560px) {
    #zcomm-service-webdev-header {
        font-size: 32px;
        margin-bottom: 10%;
    }
}

@media (max-width: 559px) and (min-width: 366px) {
    #zcomm-service-webdev-header {
        font-size: 24px;
        margin-bottom: 15%;
    }

    #zcomm-service-webdev-subheader {
        width: 100%;
        font-size: 14px;
    }
}

@media (max-width: 365px) {
    #zcomm-service-webdev-header {
        font-size: 20px;
        margin-bottom: 20%;
    }

    #zcomm-service-webdev-subheader {
        width: 100%;
        font-size: 12px;
    }
}